Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add comprehensive test suites for backend components
  backend/src/agents/__tests__/agentService.test.ts
  backend/src/routes/__tests__/chat.test.ts
  backend/src/routes/__tests__/conversations.test.ts
  backend/src/storage/__tests__/memoryStorage.test.ts
  backend/src/tracing/__tests__/tracer.test.ts
Due: none

Improve AgentService test reliability and clarity
  backend/src/agents/__tests__/agentService.test.ts
Due: none

Add comprehensive test coverage for reactions and validation routes
  backend/src/__tests__/setup.ts
  backend/src/routes/__tests__/chat.test.ts
  backend/src/routes/__tests__/reactions.test.ts
  backend/src/routes/__tests__/validation.test.ts
  backend/src/tracing/__tests__/tracer.test.ts
  backend/src/tracing/tracer.ts
Due: backend

Improve test reliability and assertions in conversations and tracer tests
  backend/src/routes/__tests__/conversations.test.ts
  backend/src/tracing/__tests__/tracer.test.ts
Due: none

Update Jest configuration for React Native/Expo testing
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Add frontend unit tests and update gitignore for coverage
  .gitignore
  frontend/__tests__/components/ThemedView.test.tsx
  frontend/__tests__/hooks/useThemeColor.test.ts
  frontend/__tests__/services/socketService.test.ts
Due: none

Add comprehensive test coverage for frontend components, hooks, and types
  frontend/__tests__/components/ExternalLink.test.tsx
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/__tests__/hooks/useColorScheme.test.ts
  frontend/__tests__/hooks/useColorScheme.web.test.ts
  frontend/__tests__/types/index.test.ts
  frontend/jest.setup.js
Due: none

Refactor test mocking to use global setup
  frontend/__tests__/components/ExternalLink.test.tsx
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/jest.setup.js
Due: none

Update ESLint configuration and simplify lint scripts
  frontend/eslint.config.js
  frontend/package.json
Due: frontend

Rename ESLint config file to legacy format
  frontend/.eslintrc.js
Due: frontend

Migrate frontend to ESLint flat config format
  .gitignore
  frontend/.eslintrc.js
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Refactor: Clean up code formatting and consolidate imports
  frontend/App.tsx
  frontend/__tests__/components/ExternalLink.test.tsx
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/__tests__/components/ThemedText.test.tsx
  frontend/__tests__/components/ThemedView.test.tsx
  frontend/__tests__/hooks/useColorScheme.web.test.ts
  frontend/__tests__/hooks/useThemeColor.test.ts
  frontend/__tests__/services/socketService.test.ts
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/index.tsx
  frontend/app/_layout.tsx
  frontend/components/AgentStatusBar.tsx
  frontend/components/ChatScreen.tsx
  frontend/components/Collapsible.tsx
  frontend/components/HelloWave.tsx
  frontend/components/ParallaxScrollView.tsx
  frontend/components/ThemedView.tsx
  frontend/components/ValidationDashboard.tsx
  frontend/components/ui/IconSymbol.tsx
  frontend/eslint.config.js
  frontend/hooks/useThemeColor.ts
  frontend/services/socketService.ts
Due: frontend

Clean up frontend code: remove unused imports, debug logs, and standardize quotes
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/index.tsx
  frontend/app/+not-found.tsx
  frontend/app/_layout.tsx
Due: frontend

Clean up unused imports and variables in AgentStatusBar and MessageInput
  frontend/components/AgentStatusBar.tsx
  frontend/components/MessageInput.tsx
Due: frontend

Add comprehensive test coverage for agent classifier and config
  backend/src/agents/__tests__/classifier.test.ts
  backend/src/agents/__tests__/config.test.ts
  backend/src/agents/classifier.ts
Due: backend

Add comprehensive test suite and improve classifier functionality
  backend/src/agents/__tests__/classifier.test.ts
  backend/src/agents/classifier.ts
  backend/src/messageQueue/__tests__/queueService.test.ts
  backend/src/metrics/__tests__/prometheus.test.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/tracing/__tests__/tracer.integration.test.ts
  backend/src/validation/__tests__/responseValidator.test.ts
  frontend/__tests__/app/HomeScreen.test.tsx
  frontend/__tests__/components/AgentStatusBar.test.tsx
  frontend/__tests__/components/ChatScreen.test.tsx
  frontend/__tests__/components/ChatScreen.test.tsx.bak
  frontend/__tests__/components/ExternalLink.test.tsx
  frontend/__tests__/components/MessageInput.test.tsx
  frontend/__tests__/components/ValidationDashboard.test.tsx
  frontend/components/AgentStatusBar.tsx
  frontend/components/MessageInput.tsx
  frontend/components/ValidationDashboard.tsx
  frontend/jest.setup.js
  package.json
Due: backend, frontend

Improve ExternalLink test reliability and mock event handling
  frontend/__tests__/components/ExternalLink.test.tsx
  frontend/jest.setup.js
Due: none

Convert single quotes to double quotes in ExternalLink tests
  frontend/__tests__/components/ExternalLink.test.tsx
Due: none

Convert double quotes to single quotes in ExternalLink tests
  frontend/__tests__/components/ExternalLink.test.tsx
Due: none

Update Prettier configuration and reformat codebase
  .prettierrc
  frontend/App.tsx
  frontend/__tests__/app/HomeScreen.test.tsx
  frontend/__tests__/components/ChatScreen.test.tsx
  frontend/__tests__/components/ExternalLink.test.tsx
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/__tests__/components/MessageInput.test.tsx
  frontend/__tests__/components/ThemedText.test.tsx
  frontend/__tests__/components/ThemedView.test.tsx
  frontend/__tests__/components/ValidationDashboard.test.tsx
  frontend/__tests__/hooks/useColorScheme.web.test.ts
  frontend/__tests__/hooks/useThemeColor.test.ts
  frontend/__tests__/services/socketService.test.ts
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/index.tsx
  frontend/app/+not-found.tsx
  frontend/app/_layout.tsx
  frontend/components/AgentStatusBar.tsx
  frontend/components/ChatScreen.tsx
  frontend/components/Collapsible.tsx
  frontend/components/HelloWave.tsx
  frontend/components/MessageInput.tsx
  frontend/components/ParallaxScrollView.tsx
  frontend/components/ThemedView.tsx
  frontend/components/ValidationDashboard.tsx
  frontend/components/ui/IconSymbol.tsx
  frontend/eslint.config.js
  frontend/services/socketService.ts
Due: frontend

Migrate validation dashboard to Prometheus/Grafana stack
  backend/src/metrics/prometheus.ts
  backend/src/validation/responseValidator.ts
  docs/prometheus-grafana-migration.md
  frontend/__tests__/components/ValidationDashboard.test.tsx
  frontend/app/(tabs)/explore.tsx
  frontend/components/ChatScreen.tsx
  frontend/components/MessageInput.tsx
  frontend/components/ValidationDashboard.tsx
  grafana/dashboards/ai-validation-overview.json
  grafana/dashboards/ai-validation-quality.json
  grafana/provisioning/dashboards/dashboards.yml
  grafana/provisioning/datasources/prometheus.yml
Due: backend, frontend

Add comprehensive mocks for React Native Animated API and Paper components
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/jest.setup.js
Due: none

test: update HapticTab test ID and refactor useColorScheme web mocks
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/__tests__/hooks/useColorScheme.web.test.ts
Due: none

Improve test mocking and setup for HapticTab and useColorScheme
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/__tests__/hooks/useColorScheme.test.ts
  frontend/__tests__/hooks/useColorScheme.web.test.ts
Due: none

Update agent configurations and improve system prompts
  backend/src/agents/config.ts
  backend/src/metrics/__tests__/prometheus.test.ts
  backend/src/validation/__tests__/responseValidator.test.ts
  backend/src/validation/responseValidator.ts
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/__tests__/hooks/useColorScheme.test.ts
  frontend/__tests__/hooks/useColorScheme.web.test.ts
  frontend/jest.setup.js
Due: backend

Refactor expo-haptics mocking in HapticTab tests
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/jest.setup.js
Due: none

Refactor HapticTab tests to remove platform-specific logic
  frontend/__tests__/components/HapticTab.test.tsx
Due: none

Remove unused HapticTab component and explore tab, improve test reliability
  frontend/__tests__/app/HomeScreen.test.tsx
  frontend/__tests__/components/HapticTab.test.tsx
  frontend/app/(tabs)/_layout.tsx
  frontend/app/(tabs)/explore.tsx
  frontend/app/(tabs)/index.tsx
  frontend/components/HapticTab.tsx
Due: frontend

test: remove unnecessary fake timers and add mock cleanup
  backend/src/socket/__tests__/socketHandlers.test.ts
Due: none

Refactor socket handler tests for better timer management and cleanup
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
Due: backend

Fix null check for queuedActions in proactive execution
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
Due: backend

Refactor message classifier and improve OpenAI test mocking
  backend/src/agents/__tests__/classifier.test.ts
  backend/src/agents/classifier.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
Due: backend

Enhance agent routing and escalation procedures
  backend/src/agents/config.ts
Due: backend

Improve error handling and coherence scoring in response validator
  backend/src/validation/responseValidator.ts
Due: backend

test: update Prometheus metrics test to use mock constructors
  backend/src/metrics/__tests__/prometheus.test.ts
Due: none

Stabilize tests: mock OpenAI, reset singletons, add timeouts
  .gitignore
  backend/jest-backend-results.json
  backend/src/__tests__/integration/agentFlow.integration.test.ts
  backend/src/messageQueue/__tests__/queueService.test.ts
  backend/src/metrics/__tests__/prometheus.test.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
  backend/src/tracing/__tests__/tracer.integration.test.ts
  frontend/jest.config.js
Due: backend

Refactor classifier and QueueService; trim jest results
  backend/jest-backend-results.json
  backend/src/agents/classifier.ts
  backend/src/messageQueue/queueService.ts
Due: backend

Enforce code style and safety across agents, RAG, tracing
  backend/.eslintrc.js
  backend/src/agents/__tests__/classifier.test.ts
  backend/src/agents/__tests__/config.test.ts
  backend/src/agents/agentService.ts
  backend/src/agents/conversationManager.ts
  backend/src/agents/dndService.ts
  backend/src/agents/goalSeekingSystem.ts
  backend/src/agents/jokeLearningSystem.ts
  backend/src/agents/ragService.ts
  backend/src/demo/goalSeekingDemo.ts
  backend/src/messageQueue/providers/inMemoryProvider.ts
  backend/src/messageQueue/providers/redisProvider.ts
  backend/src/routes/reactions.ts
  backend/src/storage/__tests__/memoryStorage.test.ts
  backend/src/storage/memoryStorage.ts
  backend/src/tracing/__tests__/tracer.test.ts
  backend/src/tracing/contextManager.ts
  backend/src/tracing/tracer.ts
  backend/src/validation/responseValidator.ts
Due: backend

Fix ESLint TS config and remove unused imports across backend
  backend/.eslintrc.js
  backend/src/messageQueue/queueService.ts
  backend/src/socket/socketHandlers.ts
  backend/src/validation/responseValidator.ts
Due: backend

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
