Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
coverage:
  status:
    project:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true
    patch:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true

  precision: 2
  round: down
  range: '0...100'

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

github_checks:
  annotations: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/coverage/**'
  - '**/__tests__/**'
  - '**/jest.config.js'
  - '**/jest.setup.js'
  - '**/*.config.js'
  - '**/*.d.ts'

fix: format files with prettier, fix caretaker workflow runs, and merge main (#131)
  .github/copilot-instructions.md
  .github/maintainer/.version
  .github/maintainer/config.yml
  .github/workflows/maintainer.yml
  .prettierignore
  backend/src/socket/socketHandlers.ts
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/envoyfilter-chat-jwt-to-headers.yaml
  k8s/apps/chat/envoyfilter-chat-oauth2-exchange.yaml
  k8s/apps/chat/kustomization.yaml
  k8s/apps/chat/requestauthentication-chat.yaml
  k8s/apps/chat/secret-provider-class-chat.yaml
  package-lock.json
Due: backend

chore: upgrade caretaker to v0.5.2 (#152)
  .github/maintainer/.version
  .github/workflows/maintainer.yml
Due: none

fix: correct OAuth2 issuer domain, endpoints, and port across all Istio auth configs
  k8s/apps/chat/envoyfilter-chat-jwt-to-headers.yaml
  k8s/apps/chat/envoyfilter-chat-oauth2-exchange.yaml
  k8s/apps/chat/requestauthentication-chat.yaml
Due: none

fix: update OAuth2 client_id to registered UUID for chat-backend
  k8s/apps/chat/envoyfilter-chat-oauth2-exchange.yaml
Due: none

fix: route /_oauth2/ paths to oauth2-proxy in chat VirtualService
  k8s/apps/chat/istio-virtualservice.yaml
Due: none

refactor(agents): pre-dispatch routing gate fixes joke→youtube handoff
  backend/src/__tests__/integration/handoff.integration.test.ts
  backend/src/agents/__tests__/agentService.test.ts
  backend/src/agents/__tests__/router.test.ts
  backend/src/agents/agentService.ts
  backend/src/agents/config.ts
  backend/src/agents/conversationManager.ts
  backend/src/agents/router.ts
  backend/src/socket/socketHandlers.ts
Due: backend

refactor(agents): pre-dispatch routing gate fixes joke→youtube handoff (#157)
  backend/src/__tests__/integration/handoff.integration.test.ts
  backend/src/agents/__tests__/agentService.test.ts
  backend/src/agents/__tests__/router.test.ts
  backend/src/agents/agentService.ts
  backend/src/agents/config.ts
  backend/src/agents/conversationManager.ts
  backend/src/agents/router.ts
  backend/src/socket/socketHandlers.ts
Due: backend

feat(ui): emit handoff_event and render transfer chip
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
  frontend/app/(tabs)/index.tsx
  frontend/components/HandoffChip.tsx
  frontend/services/socketService.ts
Due: backend, frontend

feat(ui): emit handoff_event and render transfer chip (#161)
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
  frontend/app/(tabs)/index.tsx
  frontend/components/HandoffChip.tsx
  frontend/services/socketService.ts
Due: backend, frontend

feat(llm): multi-provider + rich-media tool use
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/agents/__tests__/agentService.test.ts
  backend/src/agents/__tests__/config.test.ts
  backend/src/agents/agentService.ts
  backend/src/agents/config.ts
  backend/src/agents/types.ts
  backend/src/llm/anthropicProvider.ts
  backend/src/llm/foundryProvider.ts
  backend/src/llm/index.ts
  backend/src/llm/openaiProvider.ts
  backend/src/llm/provider.ts
  backend/src/socket/socketHandlers.ts
  backend/src/tools/audio.ts
  backend/src/tools/dnd.ts
  backend/src/tools/gifSearch.ts
  backend/src/tools/imageGallery.ts
  backend/src/tools/index.ts
  backend/src/tools/youtubeSearch.ts
  backend/src/types.ts
  frontend/app.json
  frontend/app/(tabs)/index.tsx
  frontend/components/ChatScreen.tsx
  frontend/components/media/AudioPlayer.tsx
  frontend/components/media/DiceCard.tsx
  frontend/components/media/GifView.tsx
  frontend/components/media/ImageGallery.tsx
  frontend/components/media/InfoCard.tsx
  frontend/components/media/MediaAttachmentView.tsx
  frontend/components/media/SingleImage.tsx
  frontend/components/media/VideoPlayer.tsx
  frontend/components/media/YouTubeEmbed.tsx
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/services/socketService.ts
  frontend/types/index.ts
Due: backend, frontend

chore: fix prettier formatting and broken doc links
  .gitignore
  .prettierignore
  OAUTH2_ISSUE_RESOLVED.md
  docs/troubleshooting/oauth2-envoy-debugging.md
  frontend/jest.setup.js
  k8s/oauth2-client-registration.yaml
Due: none

chore: prettier format socketHandlers.ts (root config)
  backend/src/socket/socketHandlers.ts
  package-lock.json
Due: backend

chore: align prettier to 3.8.3 in backend + frontend
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: backend, frontend

feat(llm): route Claude through Azure AI Foundry serverless endpoints
  backend/src/llm/anthropicProvider.ts
  backend/src/llm/index.ts
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/secret-provider-class.yaml
Due: backend

feat(llm): route Claude through Azure AI Foundry serverless endpoints (#170)
  backend/src/llm/anthropicProvider.ts
  backend/src/llm/index.ts
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/secret-provider-class.yaml
Due: backend

fix(agents): synthesize intro text when LLM emits only a tool_call
  backend/src/agents/agentService.ts
  backend/src/socket/socketHandlers.ts
Due: backend

fix(agents): synthesize intro text when LLM emits only a tool_call (#171)
  backend/src/agents/agentService.ts
  backend/src/socket/socketHandlers.ts
Due: backend

fix(agents): stop story_teller hallucinating image URLs; keep greetings sticky
  backend/src/agents/__tests__/config.test.ts
  backend/src/agents/__tests__/router.test.ts
  backend/src/agents/config.ts
  backend/src/agents/router.ts
Due: backend

style(agents): prettier format router tests
  backend/src/agents/__tests__/router.test.ts
Due: none

fix(agents): story_teller image hallucination; keep greetings sticky (#172)
  backend/src/agents/__tests__/config.test.ts
  backend/src/agents/__tests__/router.test.ts
  backend/src/agents/config.ts
  backend/src/agents/router.ts
Due: backend

fix(agents): route "play a game" to game_host; make youtube_guru tool-driven
  backend/src/agents/__tests__/config.test.ts
  backend/src/agents/__tests__/router.test.ts
  backend/src/agents/classifier.ts
  backend/src/agents/config.ts
  backend/src/agents/router.ts
  backend/src/tools/youtubeSearch.ts
Due: backend

fix(agents): game_host routing + youtube_guru tool-driven (#173)
  backend/src/agents/__tests__/config.test.ts
  backend/src/agents/__tests__/router.test.ts
  backend/src/agents/classifier.ts
  backend/src/agents/config.ts
  backend/src/agents/router.ts
  backend/src/tools/youtubeSearch.ts
Due: backend

ops(k8s): wire YOUTUBE_API_KEY into chat-backend via chat-secrets-youtube
  k8s/apps/chat/deployment.yaml
Due: none

ops(k8s): wire YOUTUBE_API_KEY into chat-backend via chat-secrets-youtube (#174)
  k8s/apps/chat/deployment.yaml
Due: none

fix(frontend/backend): stable YouTube embeds + curated pool for hold flow
  backend/src/socket/socketHandlers.ts
  backend/src/tools/__tests__/youtubeCuratedPool.test.ts
  backend/src/tools/youtubeSearch.ts
  frontend/components/ChatScreen.tsx
  frontend/components/media/YouTubeEmbed.tsx
Due: backend, frontend

fix(maintainer): use caretaker-github distribution name
  .github/workflows/maintainer.yml
Due: none

fix(maintainer): use repo-URL install so it spans the v0.8.1 rename
  .github/workflows/maintainer.yml
Due: none

fix(maintainer): use caretaker-github distribution name (#180)
  .github/workflows/maintainer.yml
Due: none

style: prettier format fixes for PR 179
  backend/src/socket/socketHandlers.ts
  backend/src/tools/youtubeSearch.ts
  frontend/components/ChatScreen.tsx
Due: backend, frontend

style(maintainer.yml): apply prettier formatting
  .github/workflows/maintainer.yml
Due: none

fix(maintainer): rename dispatch mode upgrade-only → upgrade
  .github/workflows/maintainer.yml
Due: none

style(maintainer.yml): apply prettier singleQuote (repo config)
  .github/workflows/maintainer.yml
Due: none

style(maintainer.yml): apply prettier formatting (#183)
  .github/workflows/maintainer.yml
Due: none

fix(maintainer): rename dispatch mode upgrade-only → upgrade (#185)
  .github/workflows/maintainer.yml
Due: none

ci: ignore maintainer.yml in prettier (version skew local vs runner)
  .prettierignore
Due: none

fix: stable YouTube embeds + curated pool for hold flow (#179)
  .prettierignore
  backend/src/socket/socketHandlers.ts
  backend/src/tools/__tests__/youtubeCuratedPool.test.ts
  backend/src/tools/youtubeSearch.ts
  frontend/components/ChatScreen.tsx
  frontend/components/media/YouTubeEmbed.tsx
Due: backend, frontend

fix(media): memo AudioPlayer + GifView; max-width for consistent layout
  frontend/components/media/AudioPlayer.tsx
  frontend/components/media/GifView.tsx
Due: frontend

fix(media): use youtube-nocookie.com + modestbranding to cut iframe noise
  frontend/components/media/YouTubeEmbed.tsx
Due: frontend

fix(media): memo AudioPlayer + GifView; youtube-nocookie; max-widths (#187)
  frontend/components/media/AudioPlayer.tsx
  frontend/components/media/GifView.tsx
  frontend/components/media/YouTubeEmbed.tsx
Due: frontend
