Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
coverage:
  status:
    project:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true
    patch:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true

  precision: 2
  round: down
  range: '0...100'

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

github_checks:
  annotations: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/coverage/**'
  - '**/__tests__/**'
  - '**/jest.config.js'
  - '**/jest.setup.js'
  - '**/*.config.js'
  - '**/*.d.ts'

feat: enhance socket event logging and conversation ID migration in chat application
  backend/src/socket/socketHandlers.ts
  frontend/App.tsx
  frontend/services/socketService.ts
  k8s/apps/chat/service.yaml
Due: backend, frontend

feat: allow socket connection with oauth2-proxy session cookie for anonymous access
  backend/src/socket/socketHandlers.ts
Due: backend

feat: allow anonymous socket connections for demo purposes and adjust API base URL resolution
  backend/src/socket/socketHandlers.ts
  frontend/services/socketService.ts
Due: backend, frontend

feat: enhance socket diagnostics and error handling with correlation IDs and improved logging
  backend/src/socket/socketHandlers.ts
  frontend/services/socketService.ts
Due: backend, frontend

feat: enhance debugging and error handling in server and socket setup
  backend/src/index.ts
  backend/src/socket/socketHandlers.ts
  frontend/services/socketService.ts
Due: backend, frontend

feat: add Expo web dev server origin and standardize socket path for API connections
  backend/src/index.ts
  backend/src/socket/socketHandlers.ts
  frontend/services/socketService.ts
Due: backend, frontend

feat: improve debugging and error handling in socket service and server initialization
  backend/src/index.ts
  backend/src/socket/socketHandlers.ts
  frontend/services/socketService.ts
Due: backend, frontend

feat: enhance socket event logging with optional onAny handler for better test compatibility
  frontend/__tests__/services/socketService.test.ts
  frontend/services/socketService.ts
Due: frontend

feat: make onAny handler optional for improved test compatibility in socket service
  frontend/services/socketService.ts
Due: frontend

feat: add expo-auth-session dependency for enhanced authentication support
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: add HorizontalPodAutoscaler, PodDisruptionBudget, and VerticalPodAutoscaler for chat backend
  k8s/apps/chat/hpa.yaml
  k8s/apps/chat/kustomization.yaml
  k8s/apps/chat/pdb.yaml
  k8s/apps/chat/vpa.yaml
Due: none

feat: update resource utilization thresholds and enable Istio sidecar injection for Redis
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/hpa.yaml
  k8s/apps/chat/redis.yaml
  k8s/apps/chat/vpa.yaml
Due: none

feat: update Istio sidecar resource limits for chat backend deployment
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/deployment.yaml
Due: none

feat: enhance socket connection handling and update Istio configurations for Redis
  frontend/app/(tabs)/index.tsx
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/ext-authz-with-websocket.yaml
  k8s/apps/chat/redis-destinationrule.yaml
  k8s/apps/chat/redis-serviceentry.yaml
  k8s/apps/chat/redis.yaml
Due: frontend

feat: improve socket connection error handling and refactor callback registration
  frontend/app/(tabs)/index.tsx
  frontend/services/socketService.ts
Due: frontend

feat: reduce resource requests and limits for chat backend deployment
  k8s/apps/chat/deployment.yaml
Due: none

feat: reduce resource requests for redirect container in chat backend deployment
  k8s/apps/chat/deployment.yaml
Due: none

feat: remove replica count for chat backend deployment
  k8s/apps/chat/deployment.yaml
Due: none

feat: update resource requests and limits for chat backend deployment and adjust HPA settings
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/hpa.yaml
Due: none

feat: adjust resource requests and limits for chat backend deployment and set max replicas to 1 in HPA
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/hpa.yaml
Due: none

feat: rename quality job to checks and streamline CI workflow steps
  .github/workflows/ci.yml
Due: none

Add GitHub Actions workflow for GitHub Pages deployment
  .github/workflows/static.yml
Due: none

Integrate MkDocs with GitHub Pages static workflow (#117)
  .github/workflows/ci.yml
  .github/workflows/static.yml
  requirements-docs.txt
Due: none

[WIP] Revise and update app documentation for accuracy (#119)
  docs/IMPLEMENTATION-COMPLETE.md
  docs/architecture/components/agents.md
  docs/architecture/components/backend.md
  docs/architecture/components/frontend.md
  docs/architecture/components/validation-system.md
  docs/azure-deployment.md
  docs/deployment/azure-keyvault-setup.md
  docs/getting-started/index.md
  docs/getting-started/quickstart.md
  docs/getting-started/setup.md
  docs/getting-started/troubleshooting.md
  docs/index.md
  docs/operations/ci-cd.md
  docs/operations/prometheus-grafana.md
  docs/reference/api-reference.md
  docs/reference/docker-setup.md
Due: none

feat: integrate OAuth2 Proxy sidecar for GitHub authentication in chat application
  .github/agents/aks-deploy.md
  .github/copilot-agent.yml
  .github/copilot-chat-agent.md
  k8s/apps/chat/OAUTH2-PROXY-INTEGRATION.md
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/service.yaml
Due: none

feat: add oauth2-proxy sidecar configuration for GitHub authentication
  k8s/apps/chat/configmap.yaml
Due: none

feat: update oauth2-proxy sidecar configuration for chat application
  k8s/apps/chat/configmap.yaml
  k8s/apps/chat/deployment.yaml
Due: none

feat: add WebSocket upgrade support for oauth2-proxy configuration
  k8s/apps/chat/configmap.yaml
Due: none

feat: update OAuth2 Proxy redirect URL for chat application
  k8s/apps/chat/configmap.yaml
  k8s/apps/chat/deployment.yaml
Due: none

feat: update secret provider configuration for OAuth2 Proxy credentials
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/secret-provider-class.yaml
Due: none

feat: update GitHub scopes for oauth2-proxy configuration
  k8s/apps/chat/configmap.yaml
Due: none

feat: enhance user profile integration and GitHub OAuth support
  .github/agents/aks-deploy.md
  .github/copilot-chat-agent.md
  .github/workflows/static.yml
  backend/src/middleware/auth.ts
  backend/src/socket/socketHandlers.ts
  frontend/app/(tabs)/index.tsx
  frontend/components/ChatScreen.tsx
  frontend/components/UserProfile.tsx
  frontend/services/socketService.ts
  frontend/types/index.ts
  k8s/apps/chat/OAUTH2-PROXY-INTEGRATION.md
  k8s/apps/chat/configmap.yaml
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/hpa.yaml
  k8s/apps/chat/vpa.yaml
  shared/types.ts
Due: backend, frontend

feat: enhance Dockerfile for shared types and add user profile tests
  backend/Dockerfile
  backend/src/middleware/__tests__/auth.test.ts
  backend/src/middleware/auth.ts
  frontend/__tests__/components/ChatScreen.test.tsx
  frontend/__tests__/components/UserProfile.test.tsx
Due: backend

feat: add user info indicator for user messages in chat screen
  frontend/components/ChatScreen.tsx
Due: frontend

feat: add styles for user information display in chat screen
  frontend/components/ChatScreen.tsx
Due: frontend

feat: update user interface to include email field in Message type
  backend/src/middleware/__tests__/auth.test.ts
  shared/types.ts
Due: none

feat: include user email in socket user information
  backend/src/socket/socketHandlers.ts
Due: backend

feat: include user email display in chat messages
  frontend/__tests__/components/ChatScreen.test.tsx
Due: none

test: enhance user info display in ChatScreen and UserProfile tests
  frontend/__tests__/components/ChatScreen.test.tsx
  frontend/__tests__/components/UserProfile.test.tsx
Due: none

feat: add mock implementations for Avatar.Image and Avatar.Text components in Jest setup
  frontend/jest.setup.js
Due: none
