Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
coverage:
  status:
    project:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true
    patch:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true

  precision: 2
  round: down
  range: '0...100'

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

github_checks:
  annotations: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/coverage/**'
  - '**/__tests__/**'
  - '**/jest.config.js'
  - '**/jest.setup.js'
  - '**/*.config.js'
  - '**/*.d.ts'

feat(k8s): add secret resource to kustomization for chat application
  k8s/apps/chat/base/kustomization.yaml
Due: none

feat(k8s): add Kubernetes manifests for chat application deployment (#43)
  .github/workflows/ci-optimized.yml
  external/Example-React-AI-Chat-App/package-lock.json
  k8s/README.md
  k8s/TODO.md
  k8s/apps/chat/base/deployment-backend.yaml
  k8s/apps/chat/base/deployment-frontend.yaml
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/istio-certificate.yaml
  k8s/apps/chat/base/istio-gateway.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/secret.yaml
  k8s/apps/chat/base/service.yaml
  k8s/apps/chat/base/serviceaccount.yaml
  k8s/apps/chat/overlays/chat-dev/dns-record.yaml
  k8s/apps/chat/overlays/chat-dev/kustomization.yaml
  k8s/apps/chat/overlays/chat-dev/namespace.yaml
  k8s/apps/chat/overlays/chat-prod/dns-records.yaml
  k8s/apps/chat/overlays/chat-prod/kustomization.yaml
  k8s/apps/chat/overlays/chat-prod/namespace.yaml
  k8s/apps/chat/overlays/chat-prod/workload-identity-binding.yaml
  k8s/flux/chat-dev-kustomization.yaml
  k8s/flux/chat-prod-kustomization.yaml
  package-lock.json
Due: none

feat(redis): add Redis secret and service configuration
  k8s/apps/chat/base/deployment-backend.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/redis-secret.yaml
  k8s/apps/chat/base/redis-service.yaml
Due: none

feat(redis): update Redis configuration and add workload identity bindings
  k8s/apps/chat/base/redis-secret.yaml
  k8s/apps/chat/base/redis-service.yaml
  k8s/apps/chat/overlays/chat-dev/workload-identity-binding.yaml
  k8s/apps/chat/overlays/chat-prod/kustomization.yaml
  k8s/apps/chat/overlays/chat-prod/redis-instance.yaml
  k8s/apps/chat/overlays/chat-prod/workload-identity-binding.yaml
Due: none

feat(redis): update Redis service external name and add ConfigConnectorContext
  k8s/apps/chat/base/redis-service.yaml
  k8s/apps/chat/overlays/chat-prod/configconnectorcontext.yaml
  k8s/apps/chat/overlays/chat-prod/namespace.yaml
  k8s/apps/chat/overlays/chat-prod/redis-instance.yaml
Due: none

feat(chat): update frontend deployment and service configuration for improved readiness and routing
  k8s/apps/chat/base/deployment-frontend.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/service.yaml
Due: none

feat(chat): update deployments for increased replicas, add Istio configurations, and implement new services
  k8s/TODO.md
  k8s/apps/chat/base/deployment-backend.yaml
  k8s/apps/chat/base/deployment-frontend.yaml
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/istio-gateway-authz-override.yaml
  k8s/apps/chat/base/istio-ingressgateway-service.yaml
  k8s/apps/chat/base/istio-static-ip.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/service-backend.yaml
  k8s/apps/chat/base/service-frontend.yaml
  k8s/apps/chat/overlays/chat-prod/kustomization.yaml
  k8s/apps/chat/overlays/chat-prod/namespace.yaml
  k8s/apps/chat/overlays/chat-prod/patch-deployment-backend.yaml
  k8s/apps/chat/overlays/chat-prod/patch-deployment-frontend.yaml
  k8s/apps/chat/overlays/chat-prod/patch-istio-gateway.yaml
  k8s/istio-cni-install.yaml
  k8s/istio-operator-cni.yaml
Due: none

feat(chat): enable Istio sidecar injection for frontend and backend deployments, update virtual service gateway reference, and clean up unused resources
  k8s/apps/chat/base/deployment-backend.yaml
  k8s/apps/chat/base/deployment-frontend.yaml
  k8s/apps/chat/base/istio-certificate.yaml
  k8s/apps/chat/base/istio-gateway-authz-override.yaml
  k8s/apps/chat/base/istio-gateway.yaml
  k8s/apps/chat/base/istio-ingressgateway-service.yaml
  k8s/apps/chat/base/istio-static-ip.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/service.yaml
  k8s/apps/chat/overlays/chat-prod/kustomization.yaml
  k8s/apps/chat/overlays/chat-prod/patch-istio-gateway.yaml
  k8s/istio-cni-install.yaml
Due: none

feat(chat): refactor deployment and service configurations, consolidate frontend and backend resources, and update DNS records for improved clarity and organization
  .github/dependabot.yml
  k8s/apps/chat/base/deployment-frontend.yaml
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/service-backend.yaml
  k8s/apps/chat/base/service-frontend.yaml
  k8s/apps/chat/base/service.yaml
  k8s/apps/chat/overlays/chat-dev/dns-record.yaml
  k8s/apps/chat/overlays/chat-dev/kustomization.yaml
  k8s/apps/chat/overlays/chat-prod/configconnectorcontext.yaml
  k8s/apps/chat/overlays/chat-prod/dns-records.yaml
  k8s/apps/chat/overlays/chat-prod/istio-authorizationpolicy.yaml
  k8s/apps/chat/overlays/chat-prod/kustomization.yaml
  k8s/apps/chat/overlays/chat-prod/patch-deployment-backend.yaml
  k8s/apps/chat/overlays/chat-prod/patch-deployment-frontend.yaml
  k8s/apps/chat/overlays/chat-prod/redis-iam-policy.yaml
  k8s/apps/chat/overlays/chat-prod/workload-identity-binding.yaml
  scripts/validate-mermaid.js
Due: none

feat(chat): add ACME challenge service and update Istio virtual service for enhanced routing; create dev and prod overlays with necessary resources
  k8s/README.md
  k8s/TODO.md
  k8s/apps/chat/base/acme-challenge-service.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/overlays/dev/dns-record.yaml
  k8s/apps/chat/overlays/dev/kustomization.yaml
  k8s/apps/chat/overlays/dev/namespace.yaml
  k8s/apps/chat/overlays/dev/workload-identity-binding.yaml
  k8s/apps/chat/overlays/prod/configconnectorcontext.yaml
  k8s/apps/chat/overlays/prod/dns-records.yaml
  k8s/apps/chat/overlays/prod/istio-authorizationpolicy-global.yaml
  k8s/apps/chat/overlays/prod/istio-authorizationpolicy.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/namespace.yaml
  k8s/apps/chat/overlays/prod/patch-deployment-backend.yaml
  k8s/apps/chat/overlays/prod/patch-deployment-frontend.yaml
  k8s/apps/chat/overlays/prod/redis-iam-policy.yaml
  k8s/apps/chat/overlays/prod/redis-instance.yaml
  k8s/apps/chat/overlays/prod/workload-identity-binding.yaml
Due: none

feat(chat): add TLS certificate configuration and update DNS record name for production
  k8s/apps/chat/overlays/prod/certificate.yaml
  k8s/apps/chat/overlays/prod/dns-records.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
Due: none

feat(chat): update deployment replicas to 1, add Istio gateway configuration, and adjust DNS records for consistency
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/istio-gateway.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/overlays/dev/dns-record.yaml
  k8s/apps/chat/overlays/dev/namespace.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/namespace.yaml
  k8s/flux/chat-prod-kustomization.yaml
Due: none

feat(chat): enable Istio sidecar injection for frontend deployment and standardize annotation formatting
  k8s/apps/chat/base/deployment.yaml
Due: none

feat(chat): integrate Google Cloud Trace exporter, enhance tracing configuration, and enable Istio sidecar injection for deployments
  backend/package.json
  backend/src/index.ts
  backend/src/tracing/tracer.ts
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/overlays/prod/acme-service-namespace-patch.yaml
  k8s/apps/chat/overlays/prod/cert-namespace-patch.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/patch-deployment-backend.yaml
  k8s/apps/chat/overlays/prod/patch-deployment-frontend.yaml
  k8s/apps/chat/overlays/prod/patch-virtualservice.json
  k8s/apps/chat/overlays/prod/workload-identity-binding.yaml
Due: backend

fix(tracer): format Cloud Trace exporter import for consistency
  backend/src/tracing/tracer.ts
Due: backend

feat(dependencies): upgrade @google-cloud/opentelemetry-cloud-trace-exporter to version 3.0.0
  backend/package-lock.json
  backend/package.json
Due: backend

fix(logger): update parameter types in logger methods to use 'unknown' for better type safety
  frontend/services/logger.ts
Due: frontend

fix(eslint): disable unused vars and style rules to reduce warnings in backend and frontend code
  backend/.eslintrc.js
  frontend/eslint.config.js
Due: backend

fix(health-check): update health endpoint to avoid tracing failures and add minimal health check endpoint
  backend/src/index.ts
  k8s/apps/chat/overlays/prod/patch-deployment-backend.yaml
Due: backend

fix(health-check): ignore tracing failures in health check endpoint and add startup probes for frontend and backend
  backend/src/index.ts
  k8s/apps/chat/base/deployment.yaml
Due: backend

fix(deployment): update health check paths for backend startup and readiness probes
  k8s/apps/chat/base/deployment.yaml
Due: none

fix(socket): resolve API base URL and update socket path for better connectivity
  frontend/services/socketService.ts
Due: frontend

fix(k8s): standardize host format and update namespace references in gateway and virtual service configurations
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/overlays/prod/acme-service-namespace-patch.yaml
  k8s/apps/chat/overlays/prod/patch-virtualservice.json
  k8s/flux/chat-prod-kustomization.yaml
Due: none

fix(k8s): update VirtualService and Service configurations for chat application and remove unused patch
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/service.yaml
  k8s/apps/chat/overlays/prod/istio-authorizationpolicy-global.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/patch-virtualservice.json
Due: none

fix(socket): improve logging format for socket connection details
  frontend/services/socketService.ts
Due: frontend

fix(logging): enhance logger format for Google Cloud Logging compatibility
  backend/src/logger.ts
  k8s/apps/chat/base/acme-challenge-service.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/service.yaml
Due: backend

feat(deployment): migrate frontend to GCS with Cloud CDN and update CI/CD pipeline
  .github/workflows/deploy-frontend.yaml
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  implementation_plan.md
  k8s/apps/chat/base/frontend-backendconfig.yaml
  k8s/apps/chat/base/frontend-bucket.yaml
  k8s/apps/chat/base/istio-gateway.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/overlays/prod/acme-service-namespace-patch.yaml
  k8s/apps/chat/overlays/prod/certificate.yaml
  k8s/apps/chat/overlays/prod/dns-records-frontend.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/patch-deployment-frontend.yaml
  scripts/deploy-frontend.sh
Due: backend, frontend

refactor(deployment): update frontend to backend configuration and adjust resource namespaces
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/frontend-backendconfig.yaml
  k8s/apps/chat/base/frontend-bucket.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/overlays/prod/acme-service-namespace-patch.yaml
  k8s/apps/chat/overlays/prod/cert-namespace-patch.yaml
  k8s/apps/chat/overlays/prod/certificate.yaml
  k8s/apps/chat/overlays/prod/dns-records-frontend.yaml
  k8s/apps/chat/overlays/prod/dns-records.yaml
  k8s/apps/chat/overlays/prod/frontend-bucket-patch.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/patch-deployment-backend.yaml
  k8s/flux/chat-dev-kustomization.yaml
  scripts/deploy-frontend.sh
Due: none

feat(deployment): update socket connection path and enhance logging for socket events
  backend/src/index.ts
  backend/src/tracing/tracer.ts
  frontend/services/socketService.ts
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/frontend-bucket.yaml
  k8s/apps/chat/base/istio-gateway.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/service.yaml
  k8s/apps/chat/overlays/prod/certificate-prod.yaml
  k8s/apps/chat/overlays/prod/frontend-bucket-patch.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  transaction.yaml
Due: backend, frontend

feat: update backend logging to use GCP Pino logging config
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/logger.ts
  frontend/services/socketService.ts
  otel-collector-config.yaml
  scripts/deploy-frontend.sh
Due: backend, frontend

test: add jest setup to suppress specific error logs during tests
  backend/jest.setup.js
Due: none

fix: add backend jest socket results file to .gitignore
  .gitignore
Due: none

feat: add Jest setup to mock Expo winter runtime and improve socket connection handling
  frontend/__mocks__/expo-winter-runtime.js
  frontend/components/ExternalLink.tsx
  frontend/jest.config.js
  frontend/jest.setup.pre.js
  frontend/services/socketService.ts
Due: frontend

refactor: clean up Jest mock and setup files for improved readability
  frontend/__mocks__/expo-winter-runtime.js
  frontend/jest.config.js
  frontend/jest.setup.pre.js
Due: frontend

fix: enhance socket error handling and type safety in SocketService
  frontend/eslint.config.js
  frontend/services/socketService.ts
Due: frontend

fix: ensure proper restoration of console mocks after tests
  backend/jest.setup.js
  external/Example-React-AI-Chat-App/frontend/jest.setup.js
  otel-collector-config.yaml
Due: none

fix: simplify type check for console.error mock restoration
  backend/jest.setup.js
Due: none

feat: add engagement evaluator to detect boredom and entertainment signals
  backend/src/agents/engagementEvaluator.ts
  implementation_plan.md
Due: backend

feat: integrate engagement evaluator for improved message classification
  backend/src/agents/classifier.ts
Due: backend
