Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(embed): add embeddable chat widget for external sites
  Dockerfile
  backend/src/index.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
  embed/.gitignore
  embed/README.md
  embed/demo/index.html
  embed/package-lock.json
  embed/package.json
  embed/src/icons.ts
  embed/src/index.ts
  embed/src/styles.ts
  embed/src/widget.ts
  embed/tsconfig.json
  embed/vite.config.ts
Due: backend

style: apply prettier to embed widget and lean-mode test
  backend/src/socket/__tests__/socketHandlers.test.ts
  embed/src/widget.ts
Due: none

feat(embed): add embeddable chat widget for external sites (#188)
  Dockerfile
  backend/src/index.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
  embed/.gitignore
  embed/README.md
  embed/demo/index.html
  embed/package-lock.json
  embed/package.json
  embed/src/icons.ts
  embed/src/index.ts
  embed/src/styles.ts
  embed/src/widget.ts
  embed/tsconfig.json
  embed/vite.config.ts
Due: backend

feat(embed): OAuth2 + PKCE sign-in for the chat widget
  Dockerfile
  backend/src/index.ts
  backend/src/routes/__tests__/embedAuth.test.ts
  backend/src/routes/embedAuth.ts
  embed/README.md
  embed/assets/embed/callback.html
  embed/demo/index.html
  embed/src/auth.ts
  embed/src/index.ts
  embed/src/styles.ts
  embed/src/widget.ts
  embed/vite.config.ts
Due: backend

fix(embed): drop sensitive values from auth proxy logs
  backend/src/routes/embedAuth.ts
Due: backend

feat(embed): OAuth2 + PKCE sign-in for the chat widget (#191)
  Dockerfile
  backend/src/index.ts
  backend/src/routes/__tests__/embedAuth.test.ts
  backend/src/routes/embedAuth.ts
  embed/README.md
  embed/assets/embed/callback.html
  embed/demo/index.html
  embed/src/auth.ts
  embed/src/index.ts
  embed/src/styles.ts
  embed/src/widget.ts
  embed/vite.config.ts
Due: backend

feat(web): scaffold + assistant-ui + socket.io adapter (A1–A4)
  .github/workflows/ci.yml
  SPIKE_NOTES.md
  package.json
  web/.gitignore
  web/README.md
  web/eslint.config.js
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/__tests__/setup.ts
  web/src/__tests__/smoke.test.tsx
  web/src/app/pages/ChatPage.tsx
  web/src/app/pages/ConversationListPage.tsx
  web/src/chat/components/ChatView.tsx
  web/src/chat/runtime/SocketChatAdapter.ts
  web/src/chat/runtime/__tests__/SocketChatAdapter.test.ts
  web/src/chat/runtime/socketClient.ts
  web/src/chat/runtime/types.ts
  web/src/lib/utils.ts
  web/src/main.tsx
  web/src/store/uiStore.ts
  web/src/styles/globals.css
  web/tsconfig.json
  web/vite.config.ts
  web/vitest.config.ts
Due: none

fix(k8s): allow anonymous access to /embed/* and /api/auth/embed/token
  k8s/apps/chat/authorizationpolicy-chat.yaml
  k8s/apps/chat/envoyfilter-chat-oauth2-exchange.yaml
  k8s/apps/chat/kustomization.yaml
Due: none

fix(k8s): allow anonymous access to /embed/* and /api/auth/embed/token (#193)
  k8s/apps/chat/authorizationpolicy-chat.yaml
  k8s/apps/chat/envoyfilter-chat-oauth2-exchange.yaml
  k8s/apps/chat/kustomization.yaml
Due: none

feat(metrics): full RED/USE Prometheus instrumentation
  backend/src/agents/router.ts
  backend/src/index.ts
  backend/src/metrics/__tests__/prometheus.test.ts
  backend/src/metrics/fetch.ts
  backend/src/metrics/prometheus.ts
  backend/src/socket/socketHandlers.ts
  backend/src/tools/audio.ts
  backend/src/tools/gifSearch.ts
  backend/src/tools/youtubeSearch.ts
Due: backend

chore(web): fix prettier formatting on all web/ source files
  web/eslint.config.js
  web/index.html
  web/src/app/pages/ConversationListPage.tsx
  web/src/chat/components/ChatView.tsx
  web/src/chat/runtime/SocketChatAdapter.ts
  web/src/chat/runtime/__tests__/SocketChatAdapter.test.ts
  web/src/chat/runtime/socketClient.ts
  web/src/chat/runtime/types.ts
  web/src/main.tsx
  web/src/store/uiStore.ts
  web/src/styles/globals.css
Due: none

feat(metrics): full RED/USE Prometheus instrumentation (#194)
  backend/src/agents/router.ts
  backend/src/index.ts
  backend/src/metrics/__tests__/prometheus.test.ts
  backend/src/metrics/fetch.ts
  backend/src/metrics/prometheus.ts
  backend/src/socket/socketHandlers.ts
  backend/src/tools/audio.ts
  backend/src/tools/gifSearch.ts
  backend/src/tools/youtubeSearch.ts
Due: backend

feat(web): scaffold + assistant-ui + socket.io adapter (A1–A4) (#192)
  .github/workflows/ci.yml
  SPIKE_NOTES.md
  package.json
  web/.gitignore
  web/README.md
  web/eslint.config.js
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/__tests__/setup.ts
  web/src/__tests__/smoke.test.tsx
  web/src/app/pages/ChatPage.tsx
  web/src/app/pages/ConversationListPage.tsx
  web/src/chat/components/ChatView.tsx
  web/src/chat/runtime/SocketChatAdapter.ts
  web/src/chat/runtime/__tests__/SocketChatAdapter.test.ts
  web/src/chat/runtime/socketClient.ts
  web/src/chat/runtime/types.ts
  web/src/lib/utils.ts
  web/src/main.tsx
  web/src/store/uiStore.ts
  web/src/styles/globals.css
  web/tsconfig.json
  web/vite.config.ts
  web/vitest.config.ts
Due: none

fix(k8s): remove redundant chat-oauth2-exchange EnvoyFilter
  k8s/apps/chat/envoyfilter-chat-oauth2-exchange.yaml
  k8s/apps/chat/kustomization.yaml
Due: none

feat(auth): anonymous session cookie + unified identity middleware
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/__tests__/identity.test.ts
  backend/src/middleware/identity.ts
Due: backend

feat(socket): propagate anon identity + tier into Socket.IO handshake
  backend/package-lock.json
  backend/package.json
  backend/src/middleware/__tests__/identity.test.ts
  backend/src/middleware/identity.ts
  backend/src/socket/socketHandlers.ts
Due: backend

feat(k8s,docs): allow anonymous callers on public chat surface
  docs/operations/anonymous-users.md
  k8s/apps/chat/authorizationpolicy-chat.yaml
Due: none

feat(rate-limit): Redis-backed tiered rate limiter for anon + authed
  backend/src/index.ts
  backend/src/middleware/__tests__/rateLimit.test.ts
  backend/src/middleware/rateLimit.ts
  backend/src/rateLimit/redisClient.ts
Due: backend

feat(rate-limit): tiered chat rate limits for WebSocket stream_chat
  backend/src/rateLimit/__tests__/checkChatLimit.test.ts
  backend/src/rateLimit/checkChatLimit.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
Due: backend

feat(llm): tier-aware model routing for anonymous callers
  backend/src/agents/agentService.ts
  backend/src/llm/__tests__/tierRouter.test.ts
  backend/src/llm/tierRouter.ts
  backend/src/routes/__tests__/chat.test.ts
  backend/src/routes/chat.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
Due: backend

feat(web): login banner + model-tier badge driven by session endpoint
  backend/src/routes/__tests__/auth.test.ts
  backend/src/routes/auth.ts
  web/src/main.tsx
  web/src/session/LoginBanner.tsx
  web/src/session/__tests__/LoginBanner.test.tsx
  web/src/session/types.ts
  web/src/session/useSession.ts
  web/src/styles/globals.css
Due: backend

feat(metrics): tier-aware Prometheus metrics for anonymous/authenticated
  backend/src/agents/agentService.ts
  backend/src/index.ts
  backend/src/metrics/__tests__/anonSessionTracker.test.ts
  backend/src/metrics/__tests__/prometheus.test.ts
  backend/src/metrics/anonSessionTracker.ts
  backend/src/metrics/prometheus.ts
  backend/src/middleware/identity.ts
  backend/src/middleware/rateLimit.ts
  backend/src/routes/auth.ts
  backend/src/routes/chat.ts
  backend/src/socket/socketHandlers.ts
Due: backend

fix(k8s): remove redundant chat-oauth2-exchange EnvoyFilter (#196)
  k8s/apps/chat/envoyfilter-chat-oauth2-exchange.yaml
  k8s/apps/chat/kustomization.yaml
Due: none

fix(ci): IPv6-safe rate-limit keygen + fail-open redis wrapper + prettier
  backend/src/middleware/rateLimit.ts
  web/src/session/__tests__/LoginBanner.test.tsx
Due: backend

fix(ci): isolate TIER_LIMITS + swallow unawaited RedisStore script-load
  backend/src/middleware/rateLimit.ts
  backend/src/rateLimit/__tests__/checkChatLimit.test.ts
  backend/src/rateLimit/checkChatLimit.ts
  backend/src/rateLimit/tierLimits.ts
Due: backend

chore(caretaker): enable fleet-registry heartbeat with OAuth2 client_credentials
  .github/maintainer/.version
  .github/maintainer/config.yml
Due: none

feat(anon): anonymous identity + tiered rate limits + free-tier LLM + login UI + metrics (#197)
  backend/package-lock.json
  backend/package.json
  backend/src/agents/agentService.ts
  backend/src/index.ts
  backend/src/llm/__tests__/tierRouter.test.ts
  backend/src/llm/tierRouter.ts
  backend/src/metrics/__tests__/anonSessionTracker.test.ts
  backend/src/metrics/__tests__/prometheus.test.ts
  backend/src/metrics/anonSessionTracker.ts
  backend/src/metrics/prometheus.ts
  backend/src/middleware/__tests__/identity.test.ts
  backend/src/middleware/__tests__/rateLimit.test.ts
  backend/src/middleware/identity.ts
  backend/src/middleware/rateLimit.ts
  backend/src/rateLimit/__tests__/checkChatLimit.test.ts
  backend/src/rateLimit/checkChatLimit.ts
  backend/src/rateLimit/redisClient.ts
  backend/src/rateLimit/tierLimits.ts
  backend/src/routes/__tests__/auth.test.ts
  backend/src/routes/__tests__/chat.test.ts
  backend/src/routes/auth.ts
  backend/src/routes/chat.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
  docs/operations/anonymous-users.md
  k8s/apps/chat/authorizationpolicy-chat.yaml
  web/src/main.tsx
  web/src/session/LoginBanner.tsx
  web/src/session/__tests__/LoginBanner.test.tsx
  web/src/session/types.ts
  web/src/session/useSession.ts
  web/src/styles/globals.css
Due: backend

feat(deploy): Flux image-automation + activate LLM_TIERED in configmap
  .github/workflows/ci.yml
  k8s/apps/chat/configmap.yaml
  k8s/apps/chat/deployment.yaml
  k8s/flux/README.md
  k8s/flux/apps/chat/image-policy.yaml
  k8s/flux/apps/chat/image-repository.yaml
  k8s/flux/apps/chat/image-update-automation.yaml
  k8s/flux/apps/chat/kustomization.yaml
  k8s/flux/clusters/bigboy/chat-app.yaml
Due: none

chore(caretaker): enable fleet-registry heartbeat with OAuth2 client_credentials (#200)
  .github/maintainer/.version
  .github/maintainer/config.yml
Due: none

feat(deploy): Flux autodeploy + activate LLM_TIERED in bigboy configmap (#201)
  .github/workflows/ci.yml
  k8s/apps/chat/configmap.yaml
  k8s/apps/chat/deployment.yaml
  k8s/flux/README.md
  k8s/flux/apps/chat/image-policy.yaml
  k8s/flux/apps/chat/image-repository.yaml
  k8s/flux/apps/chat/image-update-automation.yaml
  k8s/flux/apps/chat/kustomization.yaml
  k8s/flux/clusters/bigboy/chat-app.yaml
Due: none

fix(flux): correct sourceRef name + add CI rollout for :latest
  .github/workflows/ci.yml
  k8s/flux/apps/chat/image-update-automation.yaml
  k8s/flux/apps/chat/kustomization.yaml
  k8s/flux/clusters/bigboy/chat-app.yaml
Due: none

ci: add manifests job — yamllint + kustomize build + kubeconform
  .github/workflows/ci.yml
Due: none

ci(manifests): make yamllint non-blocking to allow baseline cleanup later
  .github/workflows/ci.yml
Due: none

fix(flux): correct sourceRef + add CI rollout for :latest (#202)
  .github/workflows/ci.yml
  k8s/flux/apps/chat/image-update-automation.yaml
  k8s/flux/apps/chat/kustomization.yaml
  k8s/flux/clusters/bigboy/chat-app.yaml
Due: none

fix(flux): decouple chat-app from image-automation health check
  k8s/flux/clusters/bigboy/chat-app.yaml
Due: none

fix(flux): decouple chat-app from image-automation health check (#204)
  k8s/flux/clusters/bigboy/chat-app.yaml
Due: none

feat(auth): anon-friendly /me + sign-in banner in Expo frontend
  backend/src/routes/__tests__/auth.test.ts
  backend/src/routes/auth.ts
  frontend/app/_layout.tsx
  frontend/components/LoginBanner.tsx
  frontend/services/authService.ts
Due: backend, frontend

feat(auth): anon-friendly /me + sign-in banner in Expo frontend (#206)
  backend/src/routes/__tests__/auth.test.ts
  backend/src/routes/auth.ts
  frontend/app/_layout.tsx
  frontend/components/LoginBanner.tsx
  frontend/services/authService.ts
Due: backend, frontend

feat(ci): build + ship embed widget bundle in docker image
  .github/workflows/ci.yml
  Dockerfile.ci
Due: none

feat(ci): build + ship embed widget bundle in docker image (#208)
  .github/workflows/ci.yml
  Dockerfile.ci
Due: none

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
