Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add Pino logging and tighten tracing types across app
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/logger.ts
  backend/src/messageQueue/types.ts
  backend/src/metrics/prometheus.ts
  backend/src/socket/socketHandlers.ts
  backend/src/tracing/tracer.ts
  frontend/App.tsx
  frontend/services/logger.ts
  frontend/services/socketService.ts
Due: backend, frontend

Cast queue payloads via unknown to satisfy TS type checks
  backend/src/messageQueue/queueService.ts
Due: backend

Relax ESLint rules: disable no-console, warn on TS unused vars
  backend/.eslintrc.js
  frontend/eslint.config.js
Due: backend

Relax react-native/no-unused-styles from error to warn
  frontend/eslint.config.js
Due: none

Fix PR Checks workflow by removing problematic pr-comment job
  codecov.yml
Due: none

fixes
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fixes
  backend/jest.config.js
Due: none

fixes
  frontend/jest.config.js
Due: none

fixes
  .github/workflows/ci-optimized.yml
Due: none

fixes
  backend/jest.config.js
  frontend/jest.config.js
Due: none

fixes
  .github/workflows/ci-optimized.yml
  docker-compose.test.yml
Due: none

fixes
  backend/Dockerfile
Due: backend

fixes
  docker-compose.yml
Due: none

Disable Codecov enforcement; make checks informational
  .github/workflows/ci-optimized.yml
  docker-compose.yml
Due: none

Switch smoke-test health check to port 5001 in CI workflow
  .github/workflows/ci-optimized.yml
Due: none

Pin OTel Collector to 0.130.0, drop healthcheck, adjust deps
  docker-compose.test.yml
  docker-compose.yml
Due: none

Enable npm caching and install backend deps to speed CI
  .github/workflows/ci-optimized.yml
Due: none

Make Jest worker count configurable; parallelize integration tests
  backend/jest.config.js
  backend/jest.sequencer.shard.js
  backend/package.json
Due: backend

Reformat Jest shard sequencer for readability; no logic change
  backend/jest.sequencer.shard.js
Due: backend

Condense MD5 hash creation to one line in Jest sharder
  backend/jest.sequencer.shard.js
Due: backend

Add Jest test sharding sequencer for parallel CI jobs
  backend/jest.sequencer.shard.formatted.js
Due: backend

Integrate quality checks into CI and upload frontend coverage
  .github/workflows/ci-optimized.yml
  .github/workflows/quality-checks.yml
Due: none

Run frontend job unconditionally by removing change gate
  .github/workflows/ci-optimized.yml
Due: none

Make async-storage a virtual mock in Jest setup
  frontend/jest.setup.js
Due: none

Remove async-storage virtual mock from Jest setup
  frontend/__mocks__/@react-native-async-storage/async-storage.js
  frontend/jest.config.js
  frontend/jest.setup.js
Due: frontend

Adjust ESLint for __mocks__: disable type-aware linting
  frontend/eslint.config.js
Due: none

Ignore __mocks__ in ESLint; include JS mocks in tsconfig
  frontend/eslint.config.js
  frontend/tsconfig.json
Due: frontend

Stabilize ChatScreen timestamps with Intl and Chicago TZ
  frontend/components/ChatScreen.tsx
Due: frontend

Format Jest configs and mocks to satisfy ESLint/Prettier
  frontend/__mocks__/@react-native-async-storage/async-storage.js
  frontend/eslint.config.js
  frontend/jest.config.js
  frontend/jest.setup.js
Due: frontend

Make Jest worker count configurable; parallelize integration tests (#9)
  .github/workflows/ci-optimized.yml
  .github/workflows/quality-checks.yml
  backend/jest.config.js
  backend/jest.sequencer.shard.formatted.js
  backend/jest.sequencer.shard.js
  backend/package.json
  frontend/__mocks__/@react-native-async-storage/async-storage.js
  frontend/components/ChatScreen.tsx
  frontend/eslint.config.js
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/tsconfig.json
Due: backend, frontend

Rebrand README as demo portfolio; ignore frontend coverage
  .DS_Store
  .gitignore
  README.md
  backend/jest-socket-results.json
  docs/INDEX.md
  docs/README.md
  docs/system-summary.md
Due: backend

Reframe architecture as demo; update Expo README and version
  docs/architecture.md
  frontend/README.md
Due: frontend

Restructure backend docs with detailed TOC and sections
  docs/backend.md
Due: none

Updatedoca (#10)
  .DS_Store
  README.md
  backend/jest-socket-results.json
  docs/INDEX.md
  docs/README.md
  docs/api-reference.md
  docs/architecture.md
  docs/backend.md
  docs/system-summary.md
  frontend/README.md
Due: backend, frontend

Scope GHA permissions; gate SARIF upload to avoid fork errors
  .github/workflows/ci-optimized.yml
  .github/workflows/quality-checks.yml
Due: none

Tighten SARIF uploads; grant security-events: write in CI
  .github/workflows/ci-optimized.yml
  .github/workflows/quality-checks.yml
Due: none

Restrict Trivy SARIF upload to push events; avoid PRs/forks
  .github/workflows/ci-optimized.yml
Due: none

Remove sarif_file input from Trivy SARIF upload step
  .github/workflows/quality-checks.yml
Due: none

Fixes (#11)
  .github/workflows/ci-optimized.yml
  .github/workflows/quality-checks.yml
Due: none

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
