Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: refactor OpenAI client initialization for test flexibility and engagement signal handling
  backend/src/agents/classifier.ts
Due: backend

feat: add engagement evaluator to detect boredom and entertainment signals (#49)
  backend/src/agents/classifier.ts
  backend/src/agents/engagementEvaluator.ts
  implementation_plan.md
Due: backend

feat: add GCP Auth Test workflow for Google Cloud authentication
  .github/workflows/gcp-auth.yaml
Due: none

feat: update Google Cloud authentication to use Workload Identity Federation in CI workflows
  .github/workflows/ci-optimized.yml
  .github/workflows/docs-deploy.yml
  backend/jest.setup.js
Due: none

Eval2 (#50)
  .github/workflows/ci-optimized.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/gcp-auth.yaml
  backend/jest.setup.js
Due: none

fix: update workload identity provider to use OIDC in GCP authentication workflows
  .github/workflows/ci-optimized.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/gcp-auth.yaml
Due: none

Add GitHub Copilot Agent Instructions (#68)
  .github/agents/README.md
  .github/agents/coding-agent.md
  .github/agents/documentation-agent.md
  .github/agents/testing-agent.md
  .github/copilot-instructions.md
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  README.md
  docs/copilot-setup.md
Due: none

Merge 6 Dependabot PRs: Security fix and dependency updates (#69)
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Due: backend

Fix GCS frontend deployment: add public access IAM policy and proper rsync flags (#74)
  .github/workflows/deploy-frontend.yaml
  FRONTEND_GCS_FIX_SUMMARY.md
  docs/deployment/frontend-gcs-deployment.md
  k8s/apps/chat/base/frontend-bucket-iam.yaml
  k8s/apps/chat/base/kustomization.yaml
  mkdocs.yml
Due: none

Combine frontend and backend into single Docker image (#77)
  .dockerignore
  .github/workflows/ci-optimized.yml
  .github/workflows/deploy-frontend.yaml.disabled
  COMBINED_FE_BE_IMPLEMENTATION.md
  Dockerfile
  FRONTEND_GCS_FIX_SUMMARY.md
  backend/src/index.ts
  docker-compose.yml
  k8s/apps/chat/base/istio-gateway.yaml
  k8s/apps/chat/base/istio-virtualservice.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/overlays/prod/dns-records-frontend.yaml
Due: backend

Add Azure AKS deployment infrastructure with automated provisioning (#79)
  .gitignore
  AZURE_DEPLOYMENT_SUMMARY.md
  README.md
  docs/azure-deployment.md
  docs/azure-quick-setup.md
  k8s/apps/chat/overlays/azure/.env.example
  k8s/apps/chat/overlays/azure/GETTING_STARTED.md
  k8s/apps/chat/overlays/azure/README.md
  k8s/apps/chat/overlays/azure/configmap.yaml
  k8s/apps/chat/overlays/azure/deployment-patch.yaml
  k8s/apps/chat/overlays/azure/ingress.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/azure/redis.yaml
  k8s/apps/chat/overlays/azure/secrets.yaml.example
  k8s/apps/chat/overlays/azure/service-patch.yaml
  scripts/azure/deploy-aks.sh
  scripts/azure/validate-config.sh
Due: none

Add Azure ACR image push workflow and update infrastructure names (#81)
  .github/workflows/azure-docker-push.yml
  docs/azure-deployment.md
  docs/azure-quick-setup.md
  k8s/apps/chat/overlays/azure/deployment-patch.yaml
  scripts/azure/deploy-aks.sh
Due: none

Fix Azure login authentication error and docs quality CI failures (#84)
  .github/workflows/azure-docker-push.yml
  AZURE_DEPLOYMENT_SUMMARY.md
  docs/azure-deployment.md
Due: none

Refactor Azure Docker push workflow
  .github/workflows/azure-docker-push.yml
Due: none

Refactor Azure Docker push workflow (#85)
  .github/workflows/azure-docker-push.yml
Due: none

Update azure-docker-push.yml
  .github/workflows/azure-docker-push.yml
Due: none

Update azure-docker-push.yml (#86)
  .github/workflows/azure-docker-push.yml
Due: none

Update azure-docker-push.yml (#87)
  .github/workflows/azure-docker-push.yml
Due: none

Change Azure Container Registry username to 'github'
  .github/workflows/azure-docker-push.yml
Due: none

Fix quotes in Azure Docker login step
  .github/workflows/azure-docker-push.yml
Due: none

Change Azure Container Registry login server
  .github/workflows/azure-docker-push.yml
Due: none

Fix Azure Container Registry authentication in CI workflow (#89)
  .github/workflows/azure-docker-push.yml
  AZURE_DEPLOYMENT_SUMMARY.md
Due: none

[WIP] Fix Docker Compose error with frontend service (#91)
  docker-compose.test.yml
Due: none

[WIP] Fix CI build failures due to npm audit issues (#95)
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  package-lock.json
  package.json
Due: backend, frontend

[WIP] Fix CI issues with Azure container registry action (#97)
  .github/workflows/azure-docker-push.yml
  AZURE_DEPLOYMENT_SUMMARY.md
  README.md
  k8s/apps/chat/overlays/azure/GETTING_STARTED.md
  k8s/apps/chat/overlays/azure/README.md
  k8s/apps/chat/overlays/azure/ingress.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
Due: none

feat: Migrate from NGINX Ingress to AKS-managed Istio service mesh
  k8s/apps/chat/overlays/azure/GETTING_STARTED.md
  k8s/apps/chat/overlays/azure/ISTIO_MIGRATION.md
  k8s/apps/chat/overlays/azure/OPTIONAL_SSL_SETUP.md
  k8s/apps/chat/overlays/azure/README.md
  k8s/apps/chat/overlays/azure/SUBDOMAIN_MIGRATION_COMPLETE.md
  k8s/apps/chat/overlays/azure/configmap.yaml
  k8s/apps/chat/overlays/azure/gateway-patch.yaml
  k8s/apps/chat/overlays/azure/ingress.yaml.bak
  k8s/apps/chat/overlays/azure/istio-gateway.yaml
  k8s/apps/chat/overlays/azure/istio-virtualservice.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/dev/dns-record.yaml
  k8s/apps/chat/overlays/dev/kustomization.yaml
  k8s/apps/chat/overlays/dev/workload-identity-binding.yaml
  k8s/flux/chat-dev-kustomization.yaml
  k8s/flux/chat-prod-kustomization.yaml
  k8s/istio-operator-cni.yaml
Due: none

feat: Migrate from NGINX Ingress to AKS-managed Istio service mesh (#98)
  k8s/apps/chat/overlays/azure/GETTING_STARTED.md
  k8s/apps/chat/overlays/azure/ISTIO_MIGRATION.md
  k8s/apps/chat/overlays/azure/OPTIONAL_SSL_SETUP.md
  k8s/apps/chat/overlays/azure/README.md
  k8s/apps/chat/overlays/azure/SUBDOMAIN_MIGRATION_COMPLETE.md
  k8s/apps/chat/overlays/azure/configmap.yaml
  k8s/apps/chat/overlays/azure/gateway-patch.yaml
  k8s/apps/chat/overlays/azure/ingress.yaml.bak
  k8s/apps/chat/overlays/azure/istio-gateway.yaml
  k8s/apps/chat/overlays/azure/istio-virtualservice.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/dev/dns-record.yaml
  k8s/apps/chat/overlays/dev/kustomization.yaml
  k8s/apps/chat/overlays/dev/workload-identity-binding.yaml
  k8s/flux/chat-dev-kustomization.yaml
  k8s/flux/chat-prod-kustomization.yaml
  k8s/istio-operator-cni.yaml
Due: none

Refactor Kubernetes manifests for Azure AKS deployment
  .gitignore
  backend/.env.example
  backend/src/tracing/tracer.ts
  backend/tsconfig.json
  docs/deployment/azure-keyvault-setup.md
  docs/operations/tracing-azure-monitor.md
  docs/security/preventing-secret-leaks.md
  k8s/README.md
  k8s/apps/chat/base/acme-challenge-service.yaml
  k8s/apps/chat/base/frontend-backendconfig.yaml
  k8s/apps/chat/base/frontend-bucket-iam.yaml
  k8s/apps/chat/base/frontend-bucket.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/overlays/azure/deployment-keyvault-patch.yaml
  k8s/apps/chat/overlays/azure/istio-gateway.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/azure/redis.yaml
  k8s/apps/chat/overlays/azure/secret-provider-class.yaml
  k8s/apps/chat/overlays/prod/certificate-prod.yaml
  k8s/apps/chat/overlays/prod/certificate.yaml
  k8s/apps/chat/overlays/prod/configconnectorcontext.yaml
  k8s/apps/chat/overlays/prod/dns-records-frontend.yaml
  k8s/apps/chat/overlays/prod/dns-records.yaml
  k8s/apps/chat/overlays/prod/frontend-bucket-patch.yaml
  k8s/apps/chat/overlays/prod/istio-authorizationpolicy-global.yaml
  k8s/apps/chat/overlays/prod/istio-authorizationpolicy.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/redis-iam-policy.yaml
  k8s/apps/chat/overlays/prod/redis-instance.yaml
  k8s/apps/chat/overlays/prod/workload-identity-binding.yaml
  k8s/observability/otel-collector.yaml
  otel-collector-config.yaml
  scripts/azure/setup-keyvault.sh
  scripts/check-secrets.sh
  scripts/git-hooks/pre-commit
Due: backend

Refactor Kubernetes manifests for Azure AKS deployment (#99)
  .gitignore
  backend/.env.example
  backend/src/tracing/tracer.ts
  backend/tsconfig.json
  docs/deployment/azure-keyvault-setup.md
  docs/operations/tracing-azure-monitor.md
  docs/security/preventing-secret-leaks.md
  k8s/README.md
  k8s/apps/chat/base/acme-challenge-service.yaml
  k8s/apps/chat/base/frontend-backendconfig.yaml
  k8s/apps/chat/base/frontend-bucket-iam.yaml
  k8s/apps/chat/base/frontend-bucket.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/overlays/azure/deployment-keyvault-patch.yaml
  k8s/apps/chat/overlays/azure/istio-gateway.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/azure/redis.yaml
  k8s/apps/chat/overlays/azure/secret-provider-class.yaml
  k8s/apps/chat/overlays/prod/certificate-prod.yaml
  k8s/apps/chat/overlays/prod/certificate.yaml
  k8s/apps/chat/overlays/prod/configconnectorcontext.yaml
  k8s/apps/chat/overlays/prod/dns-records-frontend.yaml
  k8s/apps/chat/overlays/prod/dns-records.yaml
  k8s/apps/chat/overlays/prod/frontend-bucket-patch.yaml
  k8s/apps/chat/overlays/prod/istio-authorizationpolicy-global.yaml
  k8s/apps/chat/overlays/prod/istio-authorizationpolicy.yaml
  k8s/apps/chat/overlays/prod/kustomization.yaml
  k8s/apps/chat/overlays/prod/redis-iam-policy.yaml
  k8s/apps/chat/overlays/prod/redis-instance.yaml
  k8s/apps/chat/overlays/prod/workload-identity-binding.yaml
  k8s/observability/otel-collector.yaml
  otel-collector-config.yaml
  scripts/azure/setup-keyvault.sh
  scripts/check-secrets.sh
  scripts/git-hooks/pre-commit
Due: backend

feat: Consolidate CI/CD workflows into a single GitHub Actions pipeline
  .github/workflows/azure-docker-push.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/ci.yml.disabled
  .github/workflows/deploy-frontend.yaml.disabled
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-quality.yml
  .github/workflows/gcp-auth.yaml
  .github/workflows/quality-checks.yml
  docs/operations/ci-cd.md
Due: none

docs: Update CI/CD documentation to clarify removed workflows
  docs/operations/ci-cd.md
Due: none

Ci (#100)
  .github/workflows/azure-docker-push.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/ci.yml.disabled
  .github/workflows/deploy-frontend.yaml.disabled
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-quality.yml
  .github/workflows/gcp-auth.yaml
  .github/workflows/quality-checks.yml
  docs/operations/ci-cd.md
Due: none

feat: Integrate Azure Key Vault for OpenAI API key management and update deployment configurations
  docs/deployment/azure-keyvault-setup.md
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/secretproviderclass.yaml
Due: none

feat: Update chat backend image and enhance deployment configuration
  KEYVAULT_INTEGRATION_COMPLETE.md
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/kustomization.yaml
  k8s/apps/chat/base/secretproviderclass.yaml
  k8s/apps/chat/overlays/azure/authz-policy.yaml
  k8s/apps/chat/overlays/azure/certificate.yaml
  k8s/apps/chat/overlays/azure/clusterissuer.yaml
  k8s/apps/chat/overlays/azure/deployment-keyvault-patch.yaml
  k8s/apps/chat/overlays/azure/gateway-patch.yaml
  k8s/apps/chat/overlays/azure/istio-virtualservice.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/azure/secret-provider-class.yaml
  scripts/azure/configure-dns.sh
  scripts/azure/deploy-chat-subdomain.sh
  scripts/azure/verify-chat-subdomain.sh
Due: none

feat: Add deployment documentation for chat.hugecat.net and update verification script permissions
  scripts/azure/README-chat-subdomain.md
  scripts/azure/verify-chat-subdomain.sh
Due: none

feat: implement OAuth authentication with GitHub and Google, including rate limiting and user storage
  AUTH_AND_RATE_LIMITING_IMPLEMENTATION.md
  AUTH_SETUP_GUIDE.md
  Dockerfile
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/rateLimit.ts
  backend/src/routes/auth.ts
  backend/src/services/authService.ts
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/socket/socketHandlers.ts
  backend/src/storage/userStorage.ts
  backend/src/tracing/tracer.ts
  docker-compose.yml
  frontend/__tests__/services/socketService.test.ts
  frontend/app.json
  frontend/app/_layout.tsx
  frontend/app/auth/callback.tsx
  frontend/app/auth/login.tsx
  frontend/components/AuthProvider.tsx
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/services/authService.ts
  frontend/services/socketService.ts
  k8s/apps/chat/overlays/azure/deployment-patch.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/azure/redis.yaml
  shared/types.ts
Due: backend, frontend

feat: update Dockerfile to correctly copy frontend build to backend static server and improve rate limiter key generation for IPv6 safety
  Dockerfile
  backend/src/middleware/rateLimit.ts
Due: backend

feat: enhance Dockerfile and backend to improve static asset handling and path resolution
  Dockerfile
  README.md
  backend/src/index.ts
Due: backend

Path conditions:
  backend: any of: backend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
  frontend: any of: frontend/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/__tests__/**, **/jest.config.js, **/jest.setup.js, **/*.config.js, **/*.d.ts
