Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
coverage:
  status:
    project:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true
    patch:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true

  precision: 2
  round: down
  range: '0...100'

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

github_checks:
  annotations: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/coverage/**'
  - '**/__tests__/**'
  - '**/jest.config.js'
  - '**/jest.setup.js'
  - '**/*.config.js'
  - '**/*.d.ts'

Gate frontend job on changes output in CI workflow
  .github/workflows/ci-optimized.yml
Due: none

Fixes (#12)
  .github/workflows/ci-optimized.yml
Due: none

Load backend env from backend/.env in compose files
  docker-compose.test.yml
  docker-compose.yml
Due: none

Add docker-compose.dev.yml for observability stack
  docker-compose.dev.yml
Due: none

Prepare .env files in CI to prevent Compose env_file errors
  .github/workflows/ci-optimized.yml
Due: none

Add prepare-env script to bootstrap backend/frontend .env files
  scripts/prepare-env.sh
Due: none

Set PORT=5001 and use Node-based healthcheck; tune timings
  docker-compose.yml
Due: none

Load backend env from backend/.env in compose files (#13)
  .github/workflows/ci-optimized.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  scripts/prepare-env.sh
Due: none

Send immediate proactive entertainment message on hold
  backend/src/socket/socketHandlers.ts
Due: backend

Persist hold session as real conversation and join room
  backend/src/socket/socketHandlers.ts
Due: backend

Remove automatic support request after socket connection
  frontend/App.tsx
Due: frontend

Join socket to conversation room when resuming by ID
  backend/src/socket/socketHandlers.ts
Due: backend

Restyle proactive chip for better readability and alignment
  frontend/components/ChatScreen.tsx
Due: frontend

Fix socket handler indentation; remove extra newline in App
  backend/src/socket/socketHandlers.ts
  frontend/App.tsx
Due: backend, frontend

Handoff (#14)
  backend/src/socket/socketHandlers.ts
  frontend/App.tsx
  frontend/components/ChatScreen.tsx
Due: backend, frontend

.gitignore
  .gitignore
Due: none

Broaden run JSON ignore and add era-run file to .gitignore
  .gitignore
Due: none

Fix backend Dockerfile paths for Buildx context (#15)
  .gitignore
  backend/Dockerfile
  docker-compose.test.yml
  docker-compose.yml
Due: backend

Use explicit Docker image repo for frontend in CI
  .github/workflows/ci-optimized.yml
Due: none

Use explicit Docker image repo for frontend in CI (#16)
  .github/workflows/ci-optimized.yml
Due: none

Add GitHub Actions CI/CD badge to README
  README.md
Due: none

Add GitHub Actions CI/CD badge to README (#17)
  README.md
Due: none

Add README preview image and asset under docs/assets
  README.md
  docs/assets/preview.png
Due: none

Add README preview image and asset under docs/assets (#18)
  README.md
  docs/assets/preview.png
Due: none

Remove .git_disabled from Example-React-AI-Chat-App
  external/Example-React-AI-Chat-App/.git_disabled/HEAD
  external/Example-React-AI-Chat-App/.git_disabled/config
  external/Example-React-AI-Chat-App/.git_disabled/description
  external/Example-React-AI-Chat-App/.git_disabled/hooks/applypatch-msg.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/commit-msg.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/fsmonitor-watchman.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/post-update.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/pre-applypatch.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/pre-commit.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/pre-merge-commit.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/pre-push.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/pre-rebase.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/pre-receive.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/prepare-commit-msg.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/push-to-checkout.sample
  external/Example-React-AI-Chat-App/.git_disabled/hooks/update.sample
  external/Example-React-AI-Chat-App/.git_disabled/index
  external/Example-React-AI-Chat-App/.git_disabled/info/exclude
  external/Example-React-AI-Chat-App/.git_disabled/logs/HEAD
  external/Example-React-AI-Chat-App/.git_disabled/logs/refs/heads/fix/formatting
  external/Example-React-AI-Chat-App/.git_disabled/logs/refs/heads/main
  external/Example-React-AI-Chat-App/.git_disabled/logs/refs/remotes/origin/HEAD
  external/Example-React-AI-Chat-App/.git_disabled/logs/refs/remotes/origin/fix/formatting
  external/Example-React-AI-Chat-App/.git_disabled/objects/53/f1460f7bdac9221bb7ed4a79f9bd936b62a895
  external/Example-React-AI-Chat-App/.git_disabled/objects/63/622b1c1dad4db8d6f5919a44a85cf35a3799f9
  external/Example-React-AI-Chat-App/.git_disabled/objects/80/388fbb4311c21a9882bd52a80f7af2acb7082e
  external/Example-React-AI-Chat-App/.git_disabled/objects/b1/03b516be781c517eb1e95c833a690215a3ce1e
  external/Example-React-AI-Chat-App/.git_disabled/objects/c3/056e9ddefac1e8720294cc46e71f4fb19c5ae1
  external/Example-React-AI-Chat-App/.git_disabled/objects/e6/942026d107abdbf685439c0650c82bf06bf9c8
  external/Example-React-AI-Chat-App/.git_disabled/objects/pack/pack-b2d97f800f873cd420efdeb03ffacee24e1a41f3.idx
  external/Example-React-AI-Chat-App/.git_disabled/objects/pack/pack-b2d97f800f873cd420efdeb03ffacee24e1a41f3.pack
  external/Example-React-AI-Chat-App/.git_disabled/packed-refs
  external/Example-React-AI-Chat-App/.git_disabled/refs/heads/fix/formatting
  external/Example-React-AI-Chat-App/.git_disabled/refs/heads/main
  external/Example-React-AI-Chat-App/.git_disabled/refs/remotes/origin/HEAD
  external/Example-React-AI-Chat-App/.git_disabled/refs/remotes/origin/fix/formatting
Due: none

Generate OpenAPI via swagger-jsdoc; update Swagger UI route
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/swaggerDocs.ts
  docs/INDEX.md
  implementation_plan.md
Due: backend

Apply trailing commas to swaggerDocs schema per Prettier
  backend/src/routes/swaggerDocs.ts
Due: backend

Add OpenAPI docs for chat endpoints (POST /api/chat, agents)
  backend/src/routes/chat.ts
Due: backend

Document conversations API with OpenAPI annotations
  backend/src/routes/conversations.ts
Due: backend

Fix missing comma in swaggerDocs definition object
  backend/src/routes/swaggerDocs.ts
Due: backend

Document reactions and validation routes with OpenAPI
  backend/src/routes/reactions.ts
  backend/src/routes/validation.ts
Due: backend

Document test-bench routes with OpenAPI annotations
  backend/src/routes/agentTestBench.ts
Due: backend

Add API reference docs; enable Markdown lint/link checks
  backend/package-lock.json
  backend/package.json
  backend/src/routes/swaggerDocs.ts
  docs/reference/api-reference.md
Due: backend

Add scripts to lint markdown docs and check external links
  .github/workflows/quality-checks.yml
  .markdown-link-check.json
  package-lock.json
  package.json
Due: none

Restructure docs: new IA, getting started, ops, architecture
  README.md
  docs/architecture/components/agents.md
  docs/architecture/system-overview.md
  docs/examples/external-app.md
  docs/getting-started/quickstart.md
  docs/getting-started/setup.md
  docs/getting-started/troubleshooting.md
  docs/operations/ci-cd.md
  docs/operations/observability.md
  docs/operations/tracing.md
  implementation_plan.md
Due: none

Update markdown-link-check ignore patterns for localhost
  .markdown-link-check.json
Due: none

Update RAG docs links to new architecture/components path
  docs/new-features-overview.md
Due: none

Broaden markdown-link-check ignores for localhost URLs
  .markdown-link-check.json
Due: none
