Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
coverage:
  status:
    project:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true
    patch:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true

  precision: 2
  round: down
  range: '0...100'

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

github_checks:
  annotations: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/coverage/**'
  - '**/__tests__/**'
  - '**/jest.config.js'
  - '**/jest.setup.js'
  - '**/*.config.js'
  - '**/*.d.ts'

fix: correct syntax for conditional checks in Azure ACR login steps
  .github/workflows/ci.yml
Due: none

Fix CI workflow: use env context instead of secrets in step if conditions (#106)
  .github/workflows/ci.yml
Due: none

[WIP] Fix CI error in Techdocs due to unrecognized links (#108)
  docs/architecture/components/backend.md
  docs/architecture/decisions/README.md
  docs/architecture/index.md
  docs/architecture/system-overview.md
  docs/deployment/azure-keyvault-setup.md
  docs/getting-started/index.md
  docs/getting-started/quickstart.md
  docs/getting-started/setup.md
  docs/security/preventing-secret-leaks.md
Due: none

chore: update environment configuration for OAuth and frontend URLs
  backend/.env.example
  k8s/apps/chat/overlays/azure/configmap.yaml
Due: backend

docs: update OAuth setup guide with callback URL requirements and common issues
  AUTH_SETUP_GUIDE.md
Due: none

fix: update OAuth callback URLs to use production domain and enhance documentation
  OAUTH_CALLBACK_FIX.md
Due: none

feat: add GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET to environment variables from secrets
  k8s/apps/chat/overlays/azure/deployment-patch.yaml
Due: none

chore: add GitHub OAuth credentials to secret configuration
  k8s/apps/chat/base/secret.yaml
Due: none

feat: update environment configuration for production deployment and local development settings
  frontend/.env.example
  frontend/.env.production
  frontend/app.json
Due: frontend

feat: set production API URL for frontend build in Dockerfile
  Dockerfile
Due: none

feat: enhance OAuth callback handling by extracting token from URL and fetching user data
  frontend/app/auth/callback.tsx
Due: frontend

Fix CI format check and OpenAPI smoke test (#111)
  .github/workflows/ci.yml
  AUTH_AND_RATE_LIMITING_IMPLEMENTATION.md
  AUTH_SETUP_GUIDE.md
  KEYVAULT_INTEGRATION_COMPLETE.md
  OAUTH_CALLBACK_FIX.md
  README.md
  backend/package.json
  backend/src/socket/__tests__/socketHandlers.test.ts
  backend/src/storage/userStorage.ts
  frontend/__tests__/services/socketService.test.ts
  frontend/app/auth/callback.tsx
  k8s/README.md
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/base/secretproviderclass.yaml
  k8s/apps/chat/overlays/azure/ISTIO_MIGRATION.md
  k8s/apps/chat/overlays/azure/OPTIONAL_SSL_SETUP.md
  k8s/apps/chat/overlays/azure/README.md
  k8s/apps/chat/overlays/azure/SUBDOMAIN_MIGRATION_COMPLETE.md
  k8s/apps/chat/overlays/azure/authz-policy.yaml
  k8s/apps/chat/overlays/azure/clusterissuer.yaml
  k8s/apps/chat/overlays/azure/deployment-keyvault-patch.yaml
  k8s/apps/chat/overlays/azure/gateway-patch.yaml
  k8s/apps/chat/overlays/azure/istio-virtualservice.yaml
  k8s/apps/chat/overlays/azure/kustomization.yaml
  k8s/apps/chat/overlays/azure/secret-provider-class.yaml
  k8s/observability/otel-collector.yaml
  scripts/azure/README-chat-subdomain.md
Due: backend, frontend

Fix OpenAPI smoke test: register JSON endpoint before Swagger UI middleware (#114)
  backend/src/routes/swaggerDocs.ts
Due: backend

feat: remove Passport authentication and related dependencies; update deployment for OAuth2 proxy
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/auth.ts
  backend/src/services/authService.ts
  k8s/apps/chat/base/deployment.yaml
Due: backend

feat: remove authentication screens for a streamlined login process
  frontend/app/auth/callback.tsx
  frontend/app/auth/login.tsx
Due: frontend

feat: remove AuthService and related authentication logic for simplification
  frontend/services/authService.ts
Due: frontend

feat: remove AuthProvider component and implement authService for centralized authentication management
  frontend/components/AuthProvider.tsx
  frontend/services/authService.ts
Due: frontend

feat: implement AuthProvider for centralized authentication management
  frontend/app/_layout.tsx
  frontend/components/AuthProvider.tsx
Due: frontend

feat: add RootLayout component with centralized authentication and theme management
  frontend/app/_layout.tsx
Due: frontend

feat: remove outdated OAuth documentation and fix callback URL configuration for production
  AUTH_AND_RATE_LIMITING_IMPLEMENTATION.md
  AUTH_SETUP_GUIDE.md
  OAUTH_CALLBACK_FIX.md
Due: none

feat: remove expo-auth-session dependency from package.json and package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: make provider and providerId optional in User interface
  shared/types.ts
Due: none

feat: remove express-session and its type definitions from dependencies
  backend/package-lock.json
  backend/package.json
Due: backend

feat: remove example environment configuration file
  backend/.env.example
Due: backend

feat: remove OAuth callback URLs from configmap
  k8s/apps/chat/overlays/azure/configmap.yaml
Due: none

feat: remove OAuth-related secrets from configuration
  k8s/apps/chat/base/secret.yaml
Due: none

feat: remove OAuth-related environment variables from deployment configuration
  k8s/apps/chat/overlays/azure/deployment-patch.yaml
Due: none

feat: implement OAuth2 proxy header authentication and add Kubernetes deployment documentation
  backend/src/middleware/auth.ts
  k8s/README.md
Due: backend

feat: update Redis deployment configuration with new password and ensure Istio sidecar injection is disabled
  k8s/apps/chat/redis.yaml
Due: none

feat: add chat backend deployment configuration and update Istio gateway and virtual service for chat.cat-herding.net
  k8s/apps/chat/base/deployment.yaml
  k8s/apps/chat/istio-gateway.yaml
  k8s/apps/chat/istio-virtualservice.yaml
Due: none

fix: Add oauth2-proxy header support to socket.io auth
  backend/src/socket/socketHandlers.ts
  frontend/services/socketService.ts
  k8s/apps/chat/base/deployment.yaml
Due: backend, frontend

feat: enhance oauth2-proxy authentication handling in socket setup and standardize YAML quotes
  backend/src/socket/socketHandlers.ts
  k8s/apps/chat/base/deployment.yaml
Due: backend

feat: update Redis secret management to use Azure Key Vault and add environment variables for Redis configuration
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/redis.yaml
  k8s/apps/chat/secret-provider-class.yaml
Due: none

feat: enhance CORS configuration and update socket authentication handling for production
  backend/src/index.ts
  frontend/services/socketService.ts
Due: backend, frontend

feat: update socket.io configuration with enhanced CORS policy and extended timeout for WebSocket connections
  k8s/apps/chat/istio-virtualservice.yaml
Due: none

feat: add EnvoyFilter configurations to manage external authorization and WebSocket upgrades for chat services
  k8s/apps/chat/envoyfilter-disable-extauthz.yaml
  k8s/apps/chat/envoyfilter-websocket.yaml
  k8s/apps/chat/ext-authz-with-websocket.yaml
Due: none

feat: update WebSocket endpoint configuration to include authority header for chat service
  k8s/apps/chat/istio-virtualservice.yaml
Due: none

feat: update Istio gateway and virtual service configurations to replace 'chat.hugecat.net' with 'chat.cat-herding.net'
  k8s/apps/chat/istio-gateway.yaml
  k8s/apps/chat/istio-virtualservice.yaml
Due: none

fix redirect
  Dockerfile
  k8s/apps/chat/deployment.yaml
  k8s/apps/chat/ext-authz-with-websocket.yaml
  k8s/apps/chat/hugecat-redirect.yaml
  k8s/apps/chat/istio-gateway.yaml
  k8s/apps/chat/service.yaml
Due: none
