Repository ianlintner/Example-React-AI-Chat-App: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration
coverage:
  status:
    project:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true
    patch:
      default:
        target: 0%
        threshold: 100%
        base: auto
        informational: true

  precision: 2
  round: down
  range: '0...100'

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

github_checks:
  annotations: true

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/coverage/**'
  - '**/__tests__/**'
  - '**/jest.config.js'
  - '**/jest.setup.js'
  - '**/*.config.js'
  - '**/*.d.ts'

test: simplify avatar rendering checks in ChatScreen tests
  frontend/__tests__/components/ChatScreen.test.tsx
Due: none

refactor: simplify MockAvatar component implementations in Jest setup
  frontend/jest.setup.js
Due: none

test: update assistant avatar check to ensure multiple instances are rendered
  frontend/__tests__/components/ChatScreen.test.tsx
Due: none

feat: add test script for verifying GitHub authentication headers
  test-auth-headers.sh
Due: none

feat: enhance user authentication flow and error handling in UserProfile component
  backend/src/middleware/auth.ts
  frontend/__tests__/components/UserProfile.test.tsx
  frontend/components/UserProfile.tsx
  frontend/services/authService.ts
Due: backend, frontend

feat: improve UserProfile component rendering and mock dependencies in tests
  frontend/__tests__/components/UserProfile.test.tsx
  frontend/components/UserProfile.tsx
Due: frontend

feat: enhance UserProfile component to handle missing user data and provide anonymous defaults
  frontend/__tests__/components/UserProfile.test.tsx
  frontend/components/UserProfile.tsx
Due: frontend

feat: refactor UserProfile component to improve readability of display name and email logic
  frontend/__tests__/components/UserProfile.test.tsx
  frontend/components/UserProfile.tsx
Due: frontend

feat: enhance UserProfile tests to ensure profile button existence before interaction
  frontend/__tests__/components/UserProfile.test.tsx
Due: none

feat: add build step to pre-commit checks to ensure artifacts compile before commit
  .husky/pre-commit
Due: none

feat: add support for multi-platform builds in Docker configuration
  .github/workflows/ci.yml
Due: none

fix: remove space in platforms list for Docker build configuration
  .github/workflows/ci.yml
Due: none

refactor: clean up authentication middleware and update dependencies
  backend/src/middleware/auth.ts
  frontend/package-lock.json
  frontend/package.json
  k8s/apps/chat/deployment.yaml
Due: backend, frontend

feat: implement Envoy filter to inject JWT claims into request headers
  backend/src/middleware/auth.ts
  k8s/apps/chat/envoy-filter-jwt-to-headers.yaml
Due: backend

fix: remove vpa.yaml from kustomization resources
  k8s/apps/chat/kustomization.yaml
Due: none

refactor: remove unused volume mounts for oauth2-proxy in deployment configuration
  k8s/apps/chat/deployment.yaml
Due: none

refactor: remove OAuth2 Proxy configuration from deployment
  k8s/apps/chat/deployment.yaml
Due: none

refactor: update kustomization.yaml to remove deprecated authorization policy
  k8s/apps/chat/authz-policy.yaml
  k8s/apps/chat/kustomization.yaml
Due: none

refactor: remove redirect sidecar container from deployment configuration
  k8s/apps/chat/deployment.yaml
Due: none

refactor: remove unused 'changes' job and its dependencies from CI workflow
  .github/workflows/ci.yml
Due: none

refactor: remove unused job and steps from CI workflow
  .github/workflows/ci.yml
Due: none

refactor: clean up whitespace and formatting in authentication middleware
  backend/src/middleware/auth.ts
Due: backend

refactor: standardize quotation marks in YAML files
  k8s/apps/chat/authorization-policy.yaml
  k8s/apps/chat/envoy-filter-jwt-to-headers.yaml
  k8s/apps/chat/kustomization.yaml
  k8s/apps/chat/request-authentication.yaml
Due: none

refactor: downgrade Node.js version from 24-alpine to 22-alpine in Dockerfiles
  Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
Due: backend, frontend

refactor: update provider type in UserStorage to allow string values
  Dockerfile
  backend/Dockerfile
  backend/src/storage/userStorage.ts
Due: backend

refactor: enhance message structure and update socket service callbacks
  frontend/__tests__/components/ChatScreen.test.tsx
  frontend/constants/Colors.ts
  frontend/services/socketService.ts
  frontend/types/index.ts
Due: frontend

refactor: add conversationId to message objects in ChatScreen tests
  frontend/__tests__/components/ChatScreen.test.tsx
Due: none

refactor: add conversationId to user message objects in ChatScreen tests
  frontend/__tests__/components/ChatScreen.test.tsx
Due: none

refactor: add TypeScript types to mock components in UserProfile tests
  frontend/__tests__/components/UserProfile.test.tsx
Due: none

refactor: format AvatarText component for improved readability
  frontend/__tests__/components/UserProfile.test.tsx
Due: none

refactor: remove redundant closing brace in ForestColors definition
  frontend/constants/Colors.ts
Due: frontend

refactor: update Dockerfile to use specific Node.js version and enhance Jest setup with Menu.Item mock
  Dockerfile
  frontend/jest.setup.js
Due: none

refactor: improve string interpolation in socket event logging
  backend/src/socket/socketHandlers.ts
Due: backend

refactor: improve code readability by adding braces for clarity in UserStorage methods
  backend/src/storage/userStorage.ts
Due: backend

refactor: enhance code readability by adding braces in UserStorage cleanup logic and singleton instantiation
  backend/src/storage/userStorage.ts
Due: backend

refactor: improve code readability by adding braces in getUser method
  backend/src/storage/userStorage.ts
Due: backend

refactor: improve code readability by adding braces in conditional statements in UserStorage methods
  backend/src/storage/userStorage.ts
Due: backend

refactor: improve code readability by adding braces in lastLoginAt assignment
  backend/src/storage/userStorage.ts
Due: backend

refactor: improve code readability by adding braces in getAllUsers method
  backend/src/storage/userStorage.ts
Due: backend

refactor: improve code readability by adding braces in close method of UserStorage
  .gitignore
  backend/src/storage/userStorage.ts
Due: backend
